.premium-services-section{
  background-color: var(--background-color);

}
.premium-services-container {
  max-width: 85rem;
  margin: 0 auto;
  padding: 5rem 3rem;
}

.premium-services-heading {
  color: var(--color-primary);
  text-align: center;
}
.premium-services-heading strong {
  display: block;
}

.premium-services-heading .note {
  color: var(--text-color);
  margin-top: 1rem;
}

.premium-services-card-container {
  display: flex;
  justify-content: center;
  gap: 2.3rem;
  margin-top: 7rem;
}
.premium-services-card {
  background-color: white;
  width: max-content;
  width: 37%;
  padding: 3rem 2rem;
  border-radius: 1rem;
  position: relative;
}
.premium-services-card img {
  position: absolute;
  top: .3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.premium-services-card .card-heading {
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
  color: var(--color-primary);
  margin-top: 2rem;
}
.premium-services-card .card-note {
  text-align: center;
  margin: 1.3rem 0rem;
  color: var(--text-color);
  font-size: 0.9rem;
}
.card-note-strong {
  text-align: center;
  margin: 1.3rem 0rem;
  line-height: 1.4rem;
}

.premium-services-card .card-highlights ul {
  list-style: none;
}
.premium-services-card .card-highlights ul li {
  margin: 1rem 0rem;
  color: var(--text-color);
  line-height: 1.3rem;
}
.premium-services-card .card-button {
  text-align: center;
  margin: 1rem 0rem;
}
.card-highlights ul .icon {
  position: relative;
}
.card-highlights ul .icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 11px;
  width: 5px;
  border-bottom: 1px solid #53cb83;
  border-right: 1px solid #53cb83;
}

@media only screen and (max-width: 992px) {
  .premium-services-container {
    padding: 3rem 1.5rem;
  }
  .premium-services-container .note {
    font-size: 0.9rem;
  }
  .premium-services-container .premium-services-heading h1 {
    font-size: 1.3rem;
  }
  .premium-services-card-container {
    flex-direction: column;
  }
  .premium-services-card {
    width: 100%;
    padding: 1rem 3rem;
    margin-bottom: 3rem;
  }
  .premium-services-card:last-child {
    margin-bottom: 0;
  }
  .premium-services-card .card-heading {
    font-size: 1rem;
  }
  .premium-services-card img {
    height: 80px;
  }
  .premium-services-card .card-note {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  }
  .premium-services-card .card-highlights {
    font-size: 0.9rem;
  }
  .premium-services-card .card-button button {
    margin-top: 1rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
