.show-kindness-section {
  padding: 0 3rem;
  max-width: 85rem;
  margin: 0 auto;
  margin-top: 6rem;
  padding-bottom: 4rem;
}
.show-kindness-section h1 {
  font-size: 1.45rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  width: 50%;
  color: var(--dark-text);
}

.show-kindness {
  color: var(--text-color);
  width: 50%;
}
.show-kindness span {
  display: block;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
  font-size: 1.03rem;
}

@media only screen and (max-width: 992px) {
  .show-kindness-section {
    padding: 0rem 1.5rem;
    padding-bottom: 3rem;
    margin-top: 0;
  }
  .show-kindness-section h1 {
    width: 100%;
    font-size: 1.4rem;
  }
  .show-kindness {
    width: 100%;
  }
  .show-kindness span {
    font-size: 0.9rem;
  }
}
