.seller-features-section {
  background-color: var(--background-color);
}
.seller-features-container {
  max-width: 85rem;
  margin: 0 auto;
  padding: 4rem 7rem;
}

.seller-features-heading {
  max-width: 40rem;
  color: var(--color-primary);
}
.seller-features-card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.seller-features-card {
  background-color: white;
  width: 31%;
  border-radius: 1rem;
  padding: 4.5rem 2.2rem;
  margin-bottom: 3rem;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.seller-features-card img {
  position: absolute;
  top: -2.5rem;
}
.seller-features-card h3 {
  color: var(--color-primary);
  margin-bottom: 2.5rem;
  font-weight: 900;
  font-size: 1.25rem;
}
.seller-features-card p {
  line-height: 1.4rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.seller-features-card h4 {
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  color: rgb(116, 114, 114);
}

.highlight-container h2 {
  color: white;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  line-height: 2rem;
}
.highlight-buttons {
  width: max-content;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.highlight-buttons button {
  box-shadow: none;
}
.highlight-buttons button:hover {
  box-shadow: none;
}

/* Apply below 768px */
@media only screen and (max-width: 768px) {
  .seller-features-container {
    padding: 3rem 1.5rem;
  }
  .seller-features-heading h1 {
    font-size: 1.3rem;
    font-weight: 800;
  }
  .seller-features-card-container {
    flex-direction: column;
  }
  .seller-features-card {
    width: 100%;
    padding-bottom: 3.5rem;
  }
  .seller-features-card h3 {
    font-size: 1rem;
  }
  .seller-features-card p {
    font-size: 0.9rem;
  }
  .highlight-buttons {
    flex-direction: column;
    width: 60%;
  }
  .highlight-buttons button:last-child {
    background: none;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
}

/* Apply above 992px */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
