.our-membership-section{

}

.our-membership-container {
  max-width: 85rem;
  margin: 0 auto;
  padding: 5rem 3rem;
}
.our-membership-container .heading {
  text-align: center;
}
.our-membership-container .heading h1 {
  color: var(--color-primary);
}
.our-membership-container .heading p {
  line-height: 1.7rem;
  font-size: 1.25rem;
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 3.5rem;
  color: var(--text-color);
}
.our-membership-container .main-content {
  margin-top: 3rem;
}
.our-membership-container .main-content .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.our-membership-container .main-content .buttons button {
  font-size: 0.8rem;
  padding: 0.5rem 4rem;
}
.our-membership-container .main-content .buttons button:hover {
  transform: translate(0);
}
.our-membership-container .main-content .buttons button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: none;
  border: 1px solid rgba(128, 128, 128, 0.322);
  border-bottom: 3px solid rgba(128, 128, 128, 0.349);
  border-left-width: 0px;
  box-shadow: none;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 1px;
  padding: 0.5rem 4rem;
}
.our-membership-container .main-content .buttons button:last-child:hover {
  border-bottom: 3px solid rgba(128, 128, 128, 0.678);
}
.our-membership-container .main-content .buttons button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
}
.our-membership-container .main-content .main-data .package-details {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2rem;
}

.our-membership-container .main-content .main-data .table-row {
  background-color: #f4f7ff;
  /* margin: .2rem 0rem; */
  width: 25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.our-membership-container .main-content .main-data .table-row p {
  font-size: 0.99rem;
  font-weight: 900;
  color: var(--color-primary);
}
.row-1 p {
  color: var(--text-color) !important;
  font-weight: 400 !important;
}
.row-2 {
  justify-content: center;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.row-3 {
  justify-content: center;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.bold p {
  font-weight: 900 !important;
}

.table-row .badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 0.75rem;
  border-bottom-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
  color: white !important;
  font-weight: 900 !important;
  text-transform: capitalize;
  font-size: 0.75rem !important;
  background-color: var(--color-primary);
}

.our-membership-container .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
}
.our-membership-container .buttons button {
  box-shadow: none;
}
.our-membership-container .buttons button:last-child {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  color: var(--color-primary);
}

@media only screen and (max-width: 992px) {
  .our-membership-container {
    padding: 3rem 1.5rem;
  }
  .our-membership-container .heading h1 {
    font-size: 1.5rem;
  }
  .our-membership-container .heading p {
    font-size: 1rem;
  }
  .our-membership-container .main-content .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .our-membership-container .main-content .buttons button {
    padding: 0.5rem 3rem;
  }
  .our-membership-container .main-content .buttons button:last-child {
    padding: 0.5rem 3rem;
  }
  .our-membership-container
    .main-content
    .main-data
    .package-details
    .table-row:first-child {
    display: none;
  }
  .our-membership-container .main-content .main-data .badge {
    background-color: var(--color-secondary);
  }
  .hidden{
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
