.featured-in-container {
  background: #530d85;
  /* background-color: var(--color-primary); */
  padding: 1.5rem 3rem;

  margin-top: -1.5rem;
}

.featured-in-container .heading h4 {
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}
.featured-in-container .heading .companies {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.featured-in-container .heading .companies i .icon {
  opacity: 0.4;
}

@media only screen and (max-width: 992px) {
  .featured-in-container .heading .companies {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .featured-in-container {
    padding: 1.5rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
