.login-form-container {
    background-image: url('https://investors.club/static/media/pattern-1.e467f39f.svg');
    background-color: var(--color-primary);
}

.login-form-container .login-form {
    background-color: var(--background-color);
    width: 50%;
    padding: 5rem 3rem;
    padding-top: 10rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 100px -30px inset, rgba(0, 0, 0, 0.3) 0px 5px 1px -30px inset;
}

.login-form-container .login-form h2 {
    color: var(--color-primary);
    font-weight: 800;
    margin-bottom: 2.5rem;

}

.login-form-container .login-form .input-field {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    margin: 1rem 0rem;
}


.login-form-container .checkbox-wrapper input {
    padding: 0;
}

input:focus {
    border: 1px solid var(--color-primary);
    outline: #4a1570;
}

.login-form-container .login-form .input-field label {
    font-size: .8rem;
    color: var(--dark-text);
    margin-bottom: .4rem;
}

.login-form-container .login-form .login-form-buttons {
    display: flex;
    /* flex-direction: column; */
}


.login-form-container .login-form .login-form-buttons button:last-child {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: .75rem;
    padding: 0 .5rem;

}

.login-form-container .login-form .login-form-buttons button:last-child:hover {
    color: var(--color-primary);
}

.login-form-container .login-form button {
    padding: .5rem 2rem;
    font-size: .9rem;
    font-weight: 400;
    cursor: pointer;
}

.login-form-container .login-form .login-form-footer {
    color: var(--text-color);
    font-size: .85rem;
    border-top: 1px solid rgba(128, 128, 128, 0.329);
    max-width: 25rem;
    padding-top: 2.5rem;
    margin-top: 2.5rem;

}

.login-form-container .login-form .login-form-footer span {
    color: var(--color-primary);
    font-weight: 600;
    cursor: pointer;
}

.checkbox-wrapper {
    --light-gray: #9098A9;
    display: flex;
    margin-bottom: 1rem;

}

.checkbox-wrapper label {
    font-size: .85rem;
    color: black;
    color: var(--text-color);
    margin-left: .5rem;
}

/* CORE STYLES */
.checkbox-wrapper input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    font: inherit;
    border: 0.1em solid var(--light-gray);
}

.checkbox-wrapper input[type=checkbox] {
    border-radius: 0.25em;
}

.checkbox-wrapper input:checked {
    border-color: transparent;
    background: var(--color-primary) border-box;
    box-shadow: 0 0 0 0.15rem inset #fff;
}

.checkbox-wrapper input:not(:checked):hover {
    border-color: transparent;
    background: linear-gradient(#fff, #fff) padding-box, var(--color-primary) border-box;
}



/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .login-form-container {
        background-color: var(--background-color);
        padding-top: 7rem;
        padding-bottom: 15rem;
    }

    .login-form-container .login-form {
        width: 65%;
        border-radius: .5rem;
        margin: 0 auto;
        padding: 2rem 2rem;
        background-color: white;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
}

@media only screen and (max-width: 544px) {
    .login-form-container {
        padding-bottom: 10rem;
    }

    .login-form-container .login-form {
        width: 85%;
    }

    .login-form-container .login-form .login-form-buttons {
        flex-direction: column;
        gap: 1rem;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}