.highlight-container {
  width: 90%;
  height: 250px;
  border-radius: 2rem;
  background-color: hsla(0, 0%, 100%, 0.75);
  background-image: url("https://investors.club/static/media/pattern-2.08b3179a.svg");
  background-size: 20%;
  background-color: var(--color-primary);
  margin-top: 2rem;
  background-color: #4a1172cc;
  padding: 5rem 0rem;
  height: max-content;
  max-width: 85rem;
  margin: 0 auto;
}
.highlight-container .current-position {
  margin-bottom: 0;
}
.highlight-container .current-position h3,
.highlight-container .current-position p {
  color: white;
}
.highlight-container .current-position .line {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 992px) {
  .highlight-section {
    padding: 3rem 1.5rem;
  }
  .highlight-container {
    width: 100%;
  }
}
