.additional-info-form-container .form-options-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.additional-info-form-container .form-section textarea {
    width: 100%;
    min-height: 150px;
    border-radius: .5rem;
    overflow: auto;
    resize: vertical;
    padding: .5rem 1rem;
    border: 1px solid var(--color);
    cursor: pointer;
    background-color: #851ece09;

}

.additional-info-form-container .form-section textarea:focus,
.additional-info-form-container .form-section textarea:active {
    box-shadow: rgb(204, 219, 232) 0px 1px 10px 0px inset, rgba(255, 255, 255, 0.5) 0px 0px 26px 1px inset;
    background-color: #851ece0e;
    border: 1px solid var(--color-primary);
    outline: none;
}

.additional-info-form-container .form-options-container button {
    width: 48%;
    display: flex;
    font-size: .9rem;
    align-items: center;
    /* font-weight: 600; */
    /* color: var(--color); */
    border: 1px solid var(--color);
}

.additional-info-form-container .form-options-container .btn-secondary {
    border: none;
}


.additional-info-form-container .form-options-container button .icon {
    margin-right: .7rem;
    /* opacity: .4; */
}

.additional-info-form-container .question-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .75rem;
}

.form-background {
    background-color: var(--background-color);
}

.form-section {
    margin-left: 0;
    margin-right: 0;
}

.text-area {
    flex-direction: column;
    align-items: start !important;
    justify-content: start;
}

.additional-info-form-container .text-area span {
    font-size: .75rem;
    color: var(--text-color);
    margin-top: .2rem;
    margin-bottom: .5rem;
}

.additional-info-form-container .question-container:last-child {
    margin-top: 1rem;
}


.additional-info-form-container .question-container p:last-child {
    font-size: .75rem;
    color: var(--color);
}

.additional-info-form-container {
    font-size: .85rem;
    color: var(--dark-text);
}

.additional-info-form-container .form-section .buttons-container {
    width: 100%;
}

.additional-info-form-container .form-section .buttons-container button {
    width: fit-content;
}



/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .additional-info-form-container textarea {
        margin-bottom: 1.5rem;
    }

    .additional-info-form-container .form-options-container .btn-lg {
        padding: .5rem 2rem;
    }

}

@media only screen and (max-width: 544px) {
    .additional-info-form-container .form-options-container button {
        width: 100%;
    }

    .additional-info-form-container {
        font-size: .78rem;
        color: var(--dark-text);
    }

    .additional-info-form-container .form-options-container button {
        font-size: .75rem;
    }


}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}